/* I don't need to reset/normalize CSS because Bootstrap does that */
/* ──── base ───────────────────────────────────────────────────────────────────────────── */
html {
  font-size: 62.5%;
}

body {
  background: #333333;
  font-size: 1.6rem;
  line-height: 1.6;
}

/* ──── Header ───────────────────────────────────────────────────────────────────────────── */
.header {
  color: #eee;
  text-align: center;
  border-radius: 0;
  background: url('https://images.unsplash.com/photo-1490822061517-61b5e64bf21c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f913e2f9c6555c1ba5c7d19e3a151b2e&auto=format&fit=crop&w=1050&q=80') no-repeat center center;
  background-size: cover;
}

.header__title {
  font-size: 4.6rem;
  margin-bottom: 2rem;
  font-weight: 200;
}

.header__desc {
  margin-bottom: 5rem;
}


/* ──── .button ───────────────────────────────────────────────────────────────────────────── */
.button {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.6rem;
  padding: .6em 1.2em;
}

.button--primary {
  background: #B2D548;
}

.button--primary:hover {
  background: #28A9C9;
  color: #fff;
}

.button--danger {
  background: #DC3545;
}

.button--danger:hover {
  background: #980101;
  color: #fff;
}

/* ──── messages ───────────────────────────────────────────────────────────────────────────── */
.error {
  color: red;
  margin: 0;
}

.success {
  color: green;
}

/* ──── .form ───────────────────────────────────────────────────────────────────────────── */
.wrapper {
  margin: 1rem;
}

.form {
  background: #f4f4f4;
  padding: 2rem;
  border: .2rem solid rgba(0, 0, 0, 0.2);
}
.form__group {
  margin-bottom: 1rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#ededed), to(#f4f4f4));
  background: -webkit-linear-gradient(bottom, #ededed, #f4f4f4);
  background: -o-linear-gradient(bottom, #ededed, #f4f4f4);
  background: linear-gradient(0deg, #ededed, #f4f4f4);
  border: 1px solid #c3c3c3;
}
.form__group--last {
  margin-bottom: 1.4rem;
}
.form__btn {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  background: #B2D548;
  border: 1px solid #66911e;
}

.form__btn:hover {
  background: #28A9C9;
}

/* ──── .input ───────────────────────────────────────────────────────────────────────────── */
.input__group-text {
  background: transparent;
  width: 6rem;
  border: none;
  position: relative;
}
.input__group-text::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 0.1rem;
  height: 3rem;
  background: #c3c3c3;
}
.input__group-text > span {
  color: rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  font-size: 2rem;
}
.input__input {
  background: transparent;
  padding: 2rem 2rem;
  font-size: 1.6rem;
  border: none;
}
.input__input::-webkit-input-placeholder {
  opacity: 0.7;
}
.input__input:-ms-input-placeholder {
  opacity: 0.7;
}
.input__input::-ms-input-placeholder {
  opacity: 0.7;
}
.input__input::placeholder {
  opacity: 0.7;
}